.wrapper {
	max-width: 1170px;
	margin: 0 auto 15px;
  	background: rgba(169,169,169,.15);
}
.headline{
  margin: 2% 0;
  text-align: center;
}
.jak-zaczac-gdzie-container{
	text-align: center;
	font-weight: 500;
	font-size: 1.5em;
	padding: 25px 75px;
	border: 1px solid;
	color: black;
}
.jak-zaczac-gdzie-container:hover{
	box-shadow: inset 0 3px 15px rgba(0,0,0,.4);
}
.jak-zaczac-text{
	font-size: 1.3em;
}
.jak-zaczac-gdzie {
	margin: 0 0 10px 0;
}