.wrapper {
	max-width: 1170px;
	margin: 0 auto 15px;
  background: rgba(243,236,3,0.28);
}
.headline{
  margin: 2% 0;
  text-align: center;
}
.jak-zaczac-gdzie-container{
	text-align: center;
	font-weight: 500;
	font-size: 1.5em;
	padding: 25px 75px;
	border: 1px solid;
}
.jak-zaczac-text{
	font-size: 1.3em;
}
.jak-zaczac-gdzie {
	margin: 0 0 10px 0;
}