
.hamburger{
  display: none;
}

.fat-nav__wrapper {
  background: #009900;
}

nav {
	margin-top: 10px;
/*	height: 150px;*/
}

.navContainer {
}

.logoContainer {
	text-align: center;
}
.navLogo {
	height: 150px;
	width: 150px;
}
.navButton {
  text-align: center;
	display: block;
	color: #009900;
}

.navButton:hover {
	text-decoration: none;
	color: #FF0000;
	transition: .25s;
	cursor: pointer;
}

.navImgLine {
	width: 100%;
	height: 9px;
}
.history-photo {
  height: 150px;
  width: 150px;
}
.headline{
  margin: 0;
  text-align: center;
}
.club{
  margin: 0;
  padding: 0; 
}
.club-info-historia{
  background: #C2DEAE;
  margin-right:0;
  margin-left: 0;
  padding: 2%;   
  list-style-type:none; 
}
.club-info-zarzad{
  background: #FBA700;
  margin-right:0;
  margin-left: 0;
  padding: 2%;   
  list-style-type:none; 
}
.club-info-cele{
  background: #8F81E8;
  margin-right:0;
  margin-left: 0;
  padding: 2%;   
  list-style-type:none; 
}
@media screen and (max-width: 992px) {
  .hamburger {
    display: block;
    position: fixed;
    top: 2%;
    left: 2%;
  }
  .buttonContainer {
  	display: none;
  }
  .circle {
  	width: 10px;
  	height: 10px;
  	background: white;
  	border-radius: 50%;
  	margin-left: 50%;
  }
  .navImgLine {
	display: none;
  }
  .container {
    padding: 0;
  }
}