.hamburger{
  display: none;
}

nav {
	margin-top: 10px;
/*	height: 150px;*/
}

.navContainer {
}

.logoContainer {
	text-align: center;
}
.navLogo {
	height: 150px;
	width: 150px;
}
.navButton {
	display: block;
	color: #009900;
}

.navButton:hover {
	text-decoration: none;
	color: #FF0000;
	transition: .25s;
	cursor: pointer;
}

.navImgLine {
	width: 100%;
	height: 9px;
}

@media screen and (max-width: 992px) {
  .hamburger {
    display: block;
    position: fixed;
    top: 2%;
    left: 2%;
  }
  .buttonContainer {
  	display: none;
  }
  .circle {
  	width: 10px;
  	height: 10px;
  	background: white;
  	border-radius: 50%;
  	margin-left: 50%;
  }
  .navImgLine {
	display: none;
  }
}