
.hamburger{
  display: none;
}

.fat-nav__wrapper {
  background: #009900;
}

nav {
	margin-top: 10px;
}
.logoContainer {
	text-align: center;
}
.navLogo {
	height: 150px;
	width: 150px;
}
.navButton {
  text-align: center;
	display: block;
	color: #009900;
  height: 27px;
  padding-top: 3px;
  font-size: 16px;
}
.buttonContainer:hover .navButton {
  background:  #009900;
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
    color: white;
}
.navImgLine {
	width: 100%;
	height: 9px;
}
/*.navContainer {
  max-width: 1170px;
}*/
@media screen and (max-width: 992px) {
  .hamburger {
    display: block;
    position: fixed;
    top: 2%;
    left: 2%;
  }
  .buttonContainer {
  	display: none;
  }
  .circle {
  	width: 10px;
  	height: 10px;
  	background: white;
  	border-radius: 50%;
  	margin-left: 50%;
  }
  .navImgLine {
	display: none;
  }
}