.wrapper {
	background: rgba(169,169,169,.2);
	max-width: 1170px;
	margin: 0 auto;
}
.dark-body {
	display: none;
	width: 100%;
	height: 100%;
	background: #8A8D95;
	opacity: .8;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
}
.stop-scrolling {
	width: calc(100% - 17px);
	height: 100%;
	overflow: hidden;
}
.closeButton {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
}
.closeButton:hover {
	cursor: pointer;
}
.videoDescription:hover {
	text-decoration: underline;
	transition: .2s;
}
.headline{
	font-size: 35px;
    	text-align: center;
    	margin: 2% 0 0 0;
}
.newsTitle {
	margin-top: 0;
}
.news-date{
	color: white;
	background: #e52028;
	position: absolute;
	top: 0;
	left: -1%;
	padding: 2px 10px;
}
.photo-news img{
	width: 100%;
	height:270px;
}
.photoWrapper{
	max-width: 250px;
	height: 600px;
	overflow-y: scroll;
}
.news-container{
	margin: 0 0 30px 0;	
	position: relative;
}
.news-photo-container{
	margin-top: 20px;
}
.previewVideo {
	width: 100%;
	height: 230px;
}
.previewPhoto {
	width: 100%;
	height: 190px;
}
.viewVideoContainer {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all .3s ease-in-out;
	display: none;
	background: white;
	z-index: 3;
	width: 740px;
	height: 385px;
	margin: 0 auto;
}
.viewVideoContainer.visible {
	display: block;
	top: 50%;
}

.video {
	position: absolute;
	top: 35px;
	left: 100px;
}
.videoWrapper{
	max-width: 250px;
	height: 600px;
	overflow-y: scroll;
}
.mainContainer{
	max-width: 1670px;
	margin: 0 auto;
}
.videoContainer{
	border-bottom: 2px solid #009900;
	margin-bottom: 10px;
}
.videoContainer:hover{
	cursor: pointer;
}
.photoDescription{
	margin: 10px 0;
	border-bottom: 2px solid #009900;
}
.sideBarTitleVideo{
	text-align: center;
	margin-bottom: 5px;
}
.sideBarTitlePhoto{
	text-align: center;
	margin-bottom: 20px;
}
.sidePhoto{
	max-width:250px;
	border-bottom: 2px solid #009900;
}
.sidePhoto img{
	width:100%;
	height: 230px;
}

.button-more{
	margin-top:10px;
}
.button-more > a{
	display:inline-block;
	width:100%;
}
@media screen and (min-width: 992px) {
	.photo-news{
		padding: 0 15px 0 0;
	}
}

@media screen and (max-width: 992px) {
	.photo-news img{
		width: 100%;
		height: 100%;
	}
	.news-container{
		padding: 0;
	}
	.photoWrapper, .videoWrapper {
		display: none;
	}
	.newsTitle {
		text-align:center;
	}
	.news-text{
		margin-top:10px;
	}
}