.wrapper {
	background: rgba(169,169,169,.15);
	max-width: 1170px;
	margin: 0 auto;
}
.headline{
  margin: 2% 0;
  text-align: center;
}
.mainQuote {
	font-size: 1.2em;
}
.mainTitle {
	font-size: 0.9em;
	padding: 0 0 0 79%;
}
.quoteDescription {
	padding:1% 0 0 0;
}
.completion {
	padding: 0 0 2% 0;
}
.photoContainer{
	text-align:center;
	margin: 15px 0;
}