.wrapper {
	max-width: 1170px;
	margin: 0 auto 15px;
}
.mainTitle {
	width: 100%;
	display: inline-block;
	text-align: center;
	font-size: 30px;
	margin: 1% 0 1%;
}
.infoContainer {
	border: 1px solid #737373;
	border-radius: 3px;
	text-align: center;
	height:190px;
}
.kontaktText b:hover{
	color: rgba(0,153,0,1);

}
.zadzwonText b:hover{
	color: rgba(0,153,0,1);
}
.borderContainer {
	position: relative;
	display: block;
}
.kontaktText{
	font-size: 1.5em;
	padding: 66px 0 10px 0;

}
.mainText{
	font-size: 1.5em;
}
.zadzwonText{
	font-size: 1.2em;
	padding: 36px 0 0 0;
}
.partnersPhoto{
	text-align:center;	
}
.poczta{
	position: absolute;
	width: 55px;
	height: 50px;
	top: 3%;
	left: 45%;
}
.phone{
	position: absolute;
	width: 55px;
	height: 50px;
	top: 2%;
	left: 46%;	
}
.infoContainer .headline{
	margin: 10px 0 10px 0; 
}
.partnersRotaryClub{
	padding-bottom: 20px;
}
.partnersRotaryClub a img{
	width: 150px;
	height: 200px;
}

@media screen and (max-width: 1100px) and (min-width: 992px) {
	.kontaktText {
		padding: 65px 0 8px 0;
	}
}
@media screen and (max-width: 400px) {
	.poczta, .phone {
		top: -5%;
		left: 42%;
	}
}