.ground-golf-info, .ground-golf-zasady, .ground-golf-pole, .ground-golf-sprzety{
	list-style-type:none;
}
.ground-golf-info .articleTitle h3:first-child{
	margin-top: 0;
}
.ground-golf {
	padding: 0;
}
.groundGolfPhoto img{
	width:330px;
	height: 500px;
}
.wrapper {
	background: rgba(169,169,169,.15);
	max-width: 1170px;
	margin: 0 auto;
}
.headline {
    font-size: 35px;
    text-align: center;
    margin: 2% 0 1% 0;
}
.articleTitle {
	font-size: 16px;
	line-height: 24px;
}
.sprzet-photo{
	width: 250px;
	height: 250px;
}
.pole-photo{
	width: 100%;
	height: 300px;
	border-radius: 10px;
}
.pole-photo:hover{
	box-shadow: 0 0 30px rgba(0,153,0,1);
  	transition: 0.7s ease-out;
}
.go-photo{
	border-radius: 10px;
}
.go-photo:hover{
	box-shadow: 0 0 30px rgba(0,153,0,1);
  	transition: 0.7s ease-out;
}
.photo-intext-container {
	margin-top: 15px;
	text-align: center;
}
.taskContainer {
	position: relative;
}
.roundNumber {
	position: absolute;
	top: -7px;
	display: inline-block;
	text-align: center;
	background: #ffd11a;
	width: 5%;
	padding: 15px;
	font-size: 25px;
	border-radius: 50%;
	margin: 1% 0 1% 0;
}

.taskTitle {
	background: #43833c;
	width: 97%;
	margin: 1% 0 1% 3%;
	border-radius: 10px;
	padding: 8px 0 8px 3%;
	font-weight: 600;
	color: white;
	display: inline-block;
}
.containerInfo {
	margin-left: 10px;
}


@media screen and (max-width: 992px) {
	.pole-photo {
		width: 100%;
		height: 100%;
	}
	.sprzet-photo{
		width: 100%;
		height: 100%;
	}
	.contactus, .facebook{
		margin:15px auto 0;
		display: block;
		width: 100%;
	}
	.contactus img, .facebook img{
		left: 30%;
	}
	.containerInfo {
		margin-left: 0px;
	}
	.groundGolfPhoto img {
		width:100%;
	}
	.roundNumber {
		width: 20%;
	}
	.taskTitle {
		padding: 8px 0 8px 20%;
	}
	.golfMap-text{
		margin: 3% 2%;
	}
	.ground-golf-info .articleTitle h3:first-child{
		margin-top: 5%;
	}
}

@media screen and (min-width:450px) and (max-width:991px){
	.groundGolfPhoto img {
		width:auto;
		border-left: 32%;
	}
}