.ground-golf-info{
	background:;
	list-style-type:none;
}
.ground-golf-zasady{
	background: ;
	list-style-type:none;
}
.ground-golf-zasady{
	background: ;
	list-style-type:none;
}
.ground-golf-pole{
	background: ;
	list-style-type:none;
}
.ground-golf-sprzety{
	background: ;
	list-style-type:none;
}
.ground-golf {
	padding: 0;
}
.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}
.headline {
	text-align: center;
	margin: 2% 0 1% 0;
}
.articleTitle {
	font-size: 16px;
	line-height: 24px;
}
.sprzet-photo{
	width: 250px;
	height: 250px;
}
.pole-photo{
	width: 600px;
	height: 300px;
}
.photo-intext-container {
	margin-top: 15px;
	display: inline-block;
	text-align: center;
}
@media screen and (max-width: 992px) {
	.wrapper {
		margin: 0 15px;
	}
}