.dataTableNav {
	background: #009900;
}
.dataTableContainer {
	max-width: 1170px;
	margin: 0 auto;
}
.sorting_desc {
	color: white;
}
footer {
	margin-top: 15px;
} 
.downloadButton {
	display: block;
	margin-top: 10px;
}
@media screen and (max-width: 992px) {
	.dataTableContainer {
		padding: 0 15px;
	}
}
@media screen and (max-width: 750px) {
	.downloadButton button {
		width: 100%;
	}
}