.dataTableNav {
	background: #009900;
}
.dataTableContainer {
	max-width: 1170px;
	margin: 0 auto;
}
.sorting_desc {
	color: white;
}
footer {
	position: absolute;
	bottom: 30px;
	width: 100%;
}
.copyright {
	position: absolute;
	bottom: 0%;
	width: 99%;
}
@media screen and (max-width: 992px) {
	footer, .copyright {
		position: static;
	}
	.copyright{
		width: auto;
	}
}